body{
    background-color: whitesmoke;
}
main{
display: flex;
}
section{
    margin-right: 8px;
}
.Seccion1{
background-color: slateblue;
border-width: 2px;
height: 520px ;
width: 500px;
border-width: 2px;
    border-style: solid;
    border-color: black;
}
.Seccion2{
    background-color: royalblue;
    border-width: 2px;
    margin-left: 50px;
    height: 245px ;
    width: 810px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.Seccion3{
    background-color: steelblue;
    border-width: 2px;
    height: 245px ;
    margin-top: 260px;
    width: 810px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
ul,li{
    list-style: none ;
    padding: 0;
    
}
ul{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color:black;
}
nav > ul > li{
    width: 500px;
  
}
li{
    
 
    height: 35px;
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
 background-color: violet;
   
}
.Home{
    cursor: pointer;
  
}
.Home:hover{
    background-color: turquoise;
    transition: 0.2s;
}
.Contacto:hover{
    background-color: palevioletred;
    cursor: pointer;
    transition: 0.2s;
}
.Proyecto:Hover{
    cursor: pointer;
    background-color: purple;
    transition: 0.2s;
}

footer{
border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    width:1340px;
    height: 40px;
    text-align: center;
}